<div id="ColumnContainer">
  <div class="boxes-holder" style="width: 1250px">
    <ul class="sortable">


      <% if params[:search].nil? && current_user?(@user) %>
        <% @new_box = @user.boxes.build %>
        <li class="Form FancyForm">
          <div class="pin pinBoard createBoard">
            <%= form_for(@new_box,remote: true) do |f| %>
              <div class="FancyContainer">
                <%= f.text_field :title,placeholder: "Box Name" %>
                <%= f.select :category_id, Category.all.collect { |n| [n.name, n.id] } %>
              </div>
              <%= f.submit "Create Box" , class: "Button RedButton Button13 createBoardSubmit", style: "width: 89px;margin-left: -43px"%>
              <%= image_tag("BoardCellRep.png") %>
            <%end%>
          </div>
        </li>

      <%end%>

      <%= render partial: "users/box" , collection: @boxes %>

    </ul>
  </div>

</div>


