<div class="user-in-box-item">
  <div class="user-in-box">
    <a href="<%= user_path(user) %>">
      <h3 class="username"><%= user.name %></h3>
      <div class="userThumbs">
        <span class="user-avatar">
          <% if !user.avatar.nil? %>
            <%= image_tag user.avatar.medium_avatar.url %>
          <% else %>
            <image src="/assets/default_avatar.png" />
          <% end %>
        </span>
        <% photos = user.photos.slice(0,5) %>
        <% 5.times do |i| %>
          <% if i < 2 || i == 4 %>
            <span class="thumbHolder rightWrap">
              <% if !photos[i].nil? %>
                <%= image_tag photos[i].image.medium_avatar.url %>
              <% else %>
                <image />
              <% end%>
            </span>
          <% else %>
            <span class="thumbHolder">
              <% if !photos[i].nil? %>
                <%= image_tag photos[i].image.medium_avatar.url %>
              <% else %>
                <image />
              <% end%>
            </span>
          <% end %>
        <% end %>

      </div>
    </a>
    <div class="user-func-btns">
      <%if current_user?(user) %>
        <a class="Button13 Button WhiteButton" href="/users/<%="#{user.id}"%>/edit">Edit Profile</a>
      <%else%>
        <%= render partial: "users/follow_user_form", :locals => { :user => user } %>
      <%end%>
    </div>

  </div>

</div>
