<% provide(:title, "Edit user") %>

<div class="row center signup-form-holder">
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="avatar-holder">
      <%= f.file_field :avatar,onchange: "readURL(this)" %>
      <div class="avatar-frame">
        <img src="/assets/default_avatar.png"/>
      </div>
      <div class="avatar-button">
        <label> Upload Avatar </label>
      </div>

    </div>

    <div class="user-infos">
      <%= f.text_field :name ,placeholder: "Username"%>

      <%= f.text_field :email,placeholder: "Email" %>

      <%= f.password_field :password,placeholder: "Password" %>

      <%= f.password_field :password_confirmation,placeholder:"Password Confirmation" %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    </div>

    <div class="social-btns">
        <%= f.label :Facebook %>
        <div class="btn-group" data-toggle="buttons-radio">
          <%if facebook?(current_user)%>
            <a class="btn active">ON</a>
            <a href= "/auth/facebook/destroy" class="btn">OFF</a>
          <%else%>
            <a href= "/auth/facebook" class="btn">ON</a>
            <a class="btn active">OFF</a>
          <%end%>
        </div>

        <%= f.label :Twitter %>
        <div class="btn-group" data-toggle="buttons-radio">
          <%if twitter?(current_user)%>
            <a class="btn active">ON</a>
            <a href= "/auth/twitter/destroy" class="btn">OFF</a>
          <%else%>
            <a href= "/auth/twitter" class="btn">ON</a>
            <a class="btn active">OFF</a>
          <%end%>
        </div>
        <hr>

        <%= f.label :Subcribe %>
        <div class="btn-group" data-toggle="buttons-radio">
          <%if current_user.active?%>
            <a class="btn active">ON</a>
            <a href= "/toggle" class="btn">OFF</a>
          <%else%>
            <a href= "/toggle" class="btn">ON</a>
            <a class="btn active">OFF</a>
          <%end%>
        </div>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>

  </div>
</div>
