<div class="left_content">
  <div class="actions">
    <div class="repinLike">
      <div class="groupButton pin">
        <%= button_to "Pin It", '#', remote: true, class: "btn btn-large btn-success firstChild" %>
        <%= button_to "100", '#', remote: true, class: "btn btn-large btn-success lastChild" %>
      </div>
      <div class="groupButton like">
        <% if !current_user.liked_photo?(photo) %>
          <%= render partial: 'likes/likeButtonGroup', :locals => { photo: photo } %>
        <% else %>
          <%= render partial: 'likes/unlikeButtonGroup', :locals => { photo: photo } %>
        <% end %>
      </div>
    </div>
    <div class="shareGear">
      <div class="ajax HoverButton Module">
        <button type="button" class="btn btn-large">
          <em></em>
          <span class="buttonText">Share</span>
        </button>
      </div>
    </div>
  </div>
  <div class="image">
    <div class="imageContainer">
      <%= image_tag photo.image.url %>
    </div>
    <div class="imageClipper">
      <div class="imageClipperWrapper">
        <%=h photo.description%>
      </div>
    </div>

    <div class="imageDescription">
      <div class="detailed">
        <%= link_to image_tag(photo.owner_user.avatar.thumb.url), user_path(photo.owner_user.id), class: "userThumbContainer" %>
        <div class="comment">
          <div class="commenter">
            <%=h link_to photo.owner_user.name, user_path(photo.owner_user.id), class: "descriptionCreator" %>
            <span class="commentTimeAgo"><%= time_ago_in_words(photo.created_at) %></span>
          </div>
          <p class="commentContent"><%=h photo.description%></p>
          <% if !photo.is_origin? %>
          <p class="viaPinner">
            Pinned From <%=h link_to photo.owner_user.name, user_path(photo.owner_user.id) %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
      <%= render partial: 'shared/photo_popup_comments', :locals => { comments: photo.comments, photo: photo } %>
    </div>
  </div>
  <div class="right_content">
    <div class="right1"></div>
    <div class="right2"></div>
  </div>
