<div class="left_content">
  <div class="actions">
    <div class="repinLike">
      <div class="btn-group pin">
        <button type="button" class="btn btn-success btn-large">Pin It</button>
        <button type="button" class="btn btn-success btn-large">100</button>
      </div>
      <div class="btn-group like">
        <button type="button" class="btn btn-large">Like</button>
        <button type="button" class="btn btn-large"><%= photo.likes.count %></button>
      </div>
    </div>
    <div class="shareGear">
      <div class="ajax HoverButton Module">
        <button type="button" class="btn btn-large">
          <em></em>
          <span class="buttonText">Share</span>
        </button>
      </div>
    </div>
  </div>
  <div class="image">
    <div class="imageContainer">
      <%= image_tag photo.image.url %>
    </div>
    <div class="imageClipper">
      <div class="imageClipperWrapper">
        picaso
      </div>
    </div>

    <div class="imageDescription">
      <div class="detailed">
        <%= link_to image_tag(photo.owner_user.avatar.thumb.url), user_path(photo.owner_user.id), class: "userThumbContainer" %>
        <div class="comment">
          <div class="commenter">
            <%= link_to photo.owner_user.name, user_path(photo.owner_user.id), class: "descriptionCreator" %>
            <span class="commentTimeAgo">dasdasd</div>
          </div>
          <p class="commentContent">
            dasdsadasdasdasdasd
          </p>
        </div>
      </div>

      <div class="userComment imageDescription">
        <div class="detailed">
          <%= link_to image_tag(current_user.avatar.thumb.url), user_path(current_user.id), class: "userThumbContainer" %>
          <div class="comment">
            <div class="commenter">
              <%= link_to current_user.name, user_path(current_user.id), class: "descriptionCreator" %>
              <span class="commentTimeAgo">dasdasd</div>
            </div>
            <p class="commentContent">
              dasdsadasdasdasdasd
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="right_content">
      <div class="right1"></div>
      <div class="right2"></div>
    </div>
