<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container" id="appContent">
      <div class="mainContent">
        <%= yield %>
      </div>
      <%= render :partial => 'layouts/popup' %>

      <div id="mini_back_fader"  onclick="(event.target == this.getElementsByClassName('mask')[0]) || (event.target == this.getElementsByClassName('mini_popup_wrapper')[0]) ? miniPopupHide() : null;">
        <div class="mask"></div>
        <div class="mini_popup_wrapper">
          <div class="mini_popup_content">
              <div style="height:300px">
              </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
